@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Syne+Mono&display=swap");

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

body {
  background: url("https://img.freepik.com/free-vector/organic-flat-customer-support-illustration_23-2148899173.jpg?w=1800&t=st=1675859960~exp=1675860560~hmac=8b7fa66f3edd8c0f5ea447049536dbb5136b4d3de548abe03adc9bef51330e63")
    no-repeat fixed center;
  background-size: contain;
  color: rgb(255, 255, 255);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(39, 67, 68, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-head {
  height: 20%;
}
.form-head h1,
.form-head h4 {
  text-align: center;
  text-transform: uppercase;
  padding: 16px 0px;
  font-weight: 200;
}

.form-box {
  height: 80vh;
  width: 80%;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}
.form-foot {
  height: 0%;
}

form {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}
form table {
  width: 90%;
}
form tr {
  padding: 16px;
  height: auto;
}

.form-foot {
  height: 10vh;
}

td:nth-child(1) {
  width: 40%;
}

input,
textarea {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.5s ease;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border: 2px solid rgb(219, 219, 219);
  background-color: rgba(255, 255, 255, 0.2);
}

button {
  background-color: rgb(255, 141, 100);
  border: 2px solid rgb(255, 255, 255);
  padding: 8px 48px;
  outline: none;
  cursor: pointer;
  margin: 0px 8px;
  transition: all 0.5s ease;
  opacity: 0.75;
  font-weight: 800;
}
button:hover {
  opacity: 1;
  border: 2px solid rgb(0, 0, 0);
}

.buttons {
  display: flex;
  justify-content: end;
}

.table-container a {
  text-decoration: none;
  display: inline-block;
  width: 100px;
  height: 24px;
  text-align: center;
  color: black;
  background-color: rgb(255, 255, 151);
  margin: 10px;
  transition: all 1s ease;
}
.table-container a:hover {
  background-color: rgb(255, 151, 151);
}

/* @media screen and (max-width: 1200px) {

    .table-container{
        overflow: scroll;
    }

    .table-container table {
        border: 0;
      }
    
      .table-container table caption {
        font-size: 1.3em;
      }
      
      .table-container table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      .table-container table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      .table-container table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      .table-container table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      .table-container table td:last-child {
        border-bottom: 0;
      }
} */

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .form-head {
    margin-bottom: 50px;
  }
  form tr {
    display: flex;
    flex-direction: column;
  }
  h4 {
    font-size: 0.6em;
  }
  td:nth-child(1) {
    width: 100%;
  }
  .form-head {
    height: 100%;
  }
  .form-box {
    height: 100%;
  }
  .container {
    height: 100%;
  }
  .form-head h1,
  .form-head h4 {
    padding: 4px 0;
  }
  .form-foot {
    height: 25vh;
  }

  /* responsive table */
  .table-container {
    width: 100%;
  }
  .table-container table {
    border: 0;
  }

  .table-container table caption {
    font-size: 1.3em;
  }

  .table-container table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table-container table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .table-container table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .table-container table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1%;
    text-transform: uppercase;
  }

  /* .table-container table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      padding: 100%;
      position: relative;
      margin-right: 20px;
      text-align: right;
    }
    
    .table-container table td::before {
      content: attr(data-label);
      color: black;
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      font-size: 24px;
      text-align: left;
      text-transform: uppercase;
    } */

  .table-container table td:last-child {
    border-bottom: 0;
  }
  .table-container table td p{
    padding: auto 8px;
    }
}

@media screen and (max-width: 600px) and (min-width: 350px) {
  .form-box {
    height: 100%;
    width: 95%;
    margin-top: 20px;
  }
  form tr {
    display: flex;
    flex-direction: column;
  }
  td:nth-child(1) {
    width: 100%;
  }
  .container {
    height: 100%;
  }
  .form-head {
    height: 10%;
  }
  .form-head h1,
  .form-head h4 {
    padding: 4px 0;
  }
  .form-foot {
    height: 25vh;
  }
  h4 {
    font-size: 8px;
  }
  h1 {
    font-size: 1.5rem;
  }

  /* responsive table */
  .table-container table {
    border: 0;
  }

  .table-container table caption {
    font-size: 1.3em;
  }

  .table-container table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table-container table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .table-container table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .table-container table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1%;
    text-transform: uppercase;
  }

  .table-container table td:last-child {
    border-bottom: 0;
  }
  .table-container table td p{
    padding: auto 8px;
    }
}

@media screen and (max-width: 350px) {
  .form-box {
    height: 100%;
    width: 95%;
    margin-top: 20px;
  }
  form tr {
    display: flex;
    flex-direction: column;
  }
  td:nth-child(1) {
    width: 100%;
  }
  .container {
    height: 100%;
  }
  .form-head {
    height: 10%;
  }
  .form-head h1,
  .form-head h4 {
    padding: 4px 0;
  }
  .form-foot {
    height: 25vh;
  }
  h4 {
    font-size: 8px;
  }
  h1 {
    font-size: 1.5rem;
  }

  /* responsive table */
  .table-container table {
    border: 0;
  }

  .table-container table caption {
    font-size: 1.3em;
  }

  .table-container table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table-container table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  /* .table-container table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .table-container table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    } */

  .table-container table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .table-container table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1%;
    text-transform: uppercase;
  }

  .table-container table td:last-child {
    border-bottom: 0;
  }
  .table-container table td p{
    padding: auto 8px;
    }
}

/* table style */

.table-container table {
  color: white !important;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 80%;
  table-layout: fixed;
}

.table-container table caption {
  font-size: 3em;
  width: 100%;
  margin: 0.5em 0 0.75em;
  background-color: rgba(0, 0, 0, 0);
}

.table-container table tr {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #ddd;
  padding: 0.35em;
}

.table-container table th,
.table-container table td {
  padding: 0.625em;
  text-align: center;
}
.table-container table td{
    text-align: right;
}
.table-container table td p{
    text-align: justify;
}

.table-container table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* @media screen and (max-width: 600px) {
    .table-container table {
      border: 0;
    }
  
    .table-container table caption {
      font-size: 1.3em;
    }
    
    .table-container table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .table-container table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .table-container table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .table-container table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .table-container table td:last-child {
      border-bottom: 0;
    }
  } */
